In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [4]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [6]:
df.groupby('Item').sum().loc['Wine']

Area Code         66206.00
Item Code       1319535.00
Element Code    1818328.00
Y2014              4497.36
Y2015              4251.81
Y2016              3872.09
Y2017              4178.02
Y2018              4039.32
Name: Wine, dtype: float64

In [13]:
df.groupby('Element').sum().loc['Processing', 'Y2017']

292836.0

In [14]:
df['Y2014'].isnull().sum()

1589

In [17]:
(df['Y2014'].isnull().sum() / df['Y2014'].count()) * 100

2.6771573946153584

In [20]:
df.shape

(60943, 12)

In [21]:
df['Y2017'].describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [25]:
df.groupby('Element').max().loc['Stock Variation']

Area Code               276
Area               Zimbabwe
Item Code              2961
Item                   Yams
Element Code           5072
Unit            1000 tonnes
Y2014                4569.0
Y2015                3418.0
Y2016                3266.0
Y2017                5089.0
Y2018                2226.0
Name: Stock Variation, dtype: object

In [39]:
df_2017Area = df[['Y2017', 'Area']].groupby('Area').sum()
df_2017Area.max()

Y2017    1483268.23
dtype: float64

In [41]:
df_2017Area[df_2017Area['Y2017'] == 1483268.23]

              Y2017
Area
Nigeria  1483268.23

In [45]:
df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()['Element Code']

Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [47]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [54]:
df_madagascar = df[df['Area'] == 'Madagascar']
df_madagascar[df_madagascar['Element'] == 'Protein supply quantity (g/capita/day)']['Y2015'].sum()

173.04999999999998

In [63]:
df[['Y2017', 'Area']].groupby('Area').sum().sort_values(by='Y2017').iloc[6]

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

In [64]:
df['Area'].nunique()

49